<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Firebase Phone Authentication</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    
    <div id="captcha"></div>
    
    <div id="app" class="container">
        {{countryCode}}
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" v-model="phoneNumber" class="form-control" id="phoneNumber" placeholder="0xxx xxx xxx" :disabled="isVerified">
          </div>
          <div v-if="isVerified"><p class="text-success">{{phoneNumber}} is now verified</p></div>
          <div v-else>
              <button class="btn  btn-warning" @click="verify">Verify</button>
          </div>
          <div v-if="displayError" class="text-danger">
              {{error}}
          </div>

    </div>
    
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script> 
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="./app.js"></script>
    <!-- <script src="./firebase.js"></script> -->
</body>
</html>